# Bevorzuge Dart als Hauptsprache
*.dart linguist-language=Dart

# Ignoriere native C++-Dateien bei der Sprachanalyse
*.cpp linguist-vendored
*.h linguist-vendored
*.cc linguist-vendored
*.cxx linguist-vendored

# Ignoriere bestimmte systemnahe Ordner
/android/** linguist-vendored
/ios/** linguist-vendored
/linux/** linguist-vendored
/macos/** linguist-vendored
/windows/** linguist-vendored
/build/** linguist-vendored
.native/** linguist-vendored