# Bevorzuge Dart als Sprache
*.dart linguist-language=Dart

# Ignoriere native C++-Dateien bei der Analyse
*.cpp linguist-vendored
*.h linguist-vendored
*.cc linguist-vendored
*.cxx linguist-vendored

# Falls C++-Abhängigkeiten im `build/` oder `native/`-Ordner sind
/native/* linguist-vendored
/build/* linguist-vendored

